/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.h1 {
	color: #777777;
	margin: 40px 0px 5px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: 1em;
	font-style: italic;
	text-align: center;
}
.gwt-Label-bold {
	font-weight: bold;
}
.gwt-text-Label {
	padding-left: 50px;
}
